.document-container {
  text-align: initial;
  background-color: white;
}

.background {
  padding: 0 10% 10% 10%;
  background-color: hsl(0, 24%, 84%);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

 

blockquote p {
  display: inline;
}

code {
  font-family: monospace;
}


.document-manager {
  background-color: #333;
  display: flex;
  flex-direction: row;
  padding:0 0.5em 0 0.5em;
}

#save-cancel{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}

.mdxeditor-toolbar {
  display: none;
}


/* CSS */
button {
  align-items: center;
  background-clip: padding-box;
  background-color: hsl(0, 100%, 49%);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 0.5em;
}

button:enabled:hover {
  transform: translateY(-1px);
  background-color: hsl(0, 96%, 59%);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
button:enabled:active {
  background-color: hsl(0, 100%, 39%);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

button:disabled {
  background-color: #ddd;
  color: #bbb;
}

.page {
  width: 100%;
}

.editable-document-page {
  min-height: 100%;
}