* {
  box-sizing: border-box;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  justify-content: space-between;
  border-bottom: 0.2rem solid red;
}

.noinfluence-title {
  font-size: 2rem;
  margin: 0 2rem 0 0;
}

.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.nav-profile {
  display: flex;
  align-items: center;
<<<<<<< HEAD
=======
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
>>>>>>> f30e1dc (Editor)
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0 2rem 0 0;
  list-style: none;
  gap: 1rem;
}

.nav-tabs a, .nav-profile a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  
  padding: .25rem;
}

.nav-tabs li.active {
  background-color: #555;
}

.nav-tabs li:hover {
  background-color: #777;
}
