.popup-content {
  padding: 2em;
  max-width: 70em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}


.create-page-button {
  margin-top: 5%;
  margin: 5% 35% auto 35%;
  min-width: 20%;
}

input {
  padding: 0.6em 2em;
}

button .popup-resolver {
  margin-top: 1em;
}