.sideNavBarWindow {
  height: calc(100vh - 4.7rem);
  width: 20vw;
  background-color: #333;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.burger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 0.2rem solid red;
  color: white;
}

.burger img {
  padding: 25px 8px 0 0;
  cursor: pointer;
}

.burger img:hover {
  cursor: pointer;
  background-color: #58b5fc;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-li-box {
  margin-top: 15px;
}

.navbar-li-box:first-child {
  margin-top: 53px;
}

.navbar-li {
  display: block;
  padding: 0 0 0 12px;
  position: relative;
  top: 2.5px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 38px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.navbar-li:hover {
  cursor: pointer;
  background-color: #58b5fc;
}

.sub-list {
  margin-left: 20px;
}

.sub-item {
  margin-top: 10px;
}

.create-button-container {
  margin-top: auto;
  padding: 10px;
}

.create-button {
  width: 100%;
  padding: 10px;
  background-color: #58b5fc;
  color: white;
  border: none;
  border-radius: 5px;
}