.sideNavBarWindow {
  height: calc(100vh - 4.7rem);
  width: 20vw;
  background-color: #333;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-li {
  display: block;
  padding: 0 12px;
  position: relative;
  top: 2.5px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
  max-width: 18vw; /* Ensure the text wraps within the container */
}

.navbar-li:hover {
  cursor: pointer;
  background-color: #58b5fc;
}

.navbar-li-box {
  margin-top: 15px;
}

.navbar-li-box:first-child {
  margin-top: 53px;
}

.navbar-li-button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.navbar-li-button-container {
  display: inline-block;
  vertical-align: middle;
}

.sub-list {
  margin-left: 20px;
}

.sub-item {
  margin-top: 10px;
}

.create-button-container {
  margin-top: auto;
  padding: 10px;
}

.create-button {
  width: 100%;
  padding: 10px;
  background-color: #58b5fc;
  color: white;
  border: none;
  border-radius: 5px;
}