.navbar-li-box {
  margin-top: 15px;
}

.navbar-li-button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.navbar-li-button .setting-icon {
  margin-right: 2.5px; 
  margin-left: 2.5px;
}

.navbar-li-button-container {
  display: inline-block;
  vertical-align: middle;
}

.organisation-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.organisation-name {
  flex-grow: 1;
  padding-left: 10px;
  max-width: 50%;
  max-height: 3em;
  overflow: hidden;
}

.sub-item.create-space {
  padding: 0 2em 0 1em
}