.sideNavBarWindow {
  min-height: 90vh;
  width: 20vw;
  background-color: #333;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-right: 0.2rem solid red;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-li {
  padding: 12px 0 12px 27px;
  font-size: 1rem;
  line-height: 38px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-li:hover {
  background-color: #58b5fc;
}

.space-setting-icon-container {
  display: flex;
  align-items: center;
  padding: 25px 27px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 38px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.space-setting-icon-container:hover {
  background-color: #4ca6e0;
}

.sub-list {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.sub-item {
  margin-bottom: 5px;
}

.sub-item.expanded .sub-sub-list {
  display: block;
}

.sub-sub-list {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.sub-sub-item {
  margin-bottom: 5px;
}

.sub-sub-item .navbar-li {
  padding-left: 51px;
}

.create-button-container {
  margin-top: auto;
  padding: 10px;
}

.create-button {
  width: 100%;
  padding: 10px;
  background-color: #58b5fc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #4ca6e0;
}

.space-setting {
  margin: 0;
  padding: 12px 0 12px 12px;
  font-size: 1rem;
  line-height: 38px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}

.space-setting:hover {
  background-color: #58b5fc;
}

.navbar-li-box img {
  filter: invert(1);
  vertical-align: middle;
}

.setting-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.space-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  color: #ffffff;
}

.folder-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.page-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.down-arrow-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  vertical-align: middle;
}