

.space-setting-icon-container {
  display: flex;
  align-items: center;
  padding: 18px 27px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 38px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border-bottom: 2px solid gray;
}

.space-setting-icon-container:hover {
  background-color: #4ca6e0;
}


.sub-item.expanded .sub-sub-list {
  display: block;
}

.sub-sub-list {
  display: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: 2em;
  border-left: 5px solid gray;
}

.sub-sub-item {
  margin-bottom: 5px;
}

.sub-sub-item .navbar-li {
  padding-left: 1.3em;
}


.space-setting {
  margin: 0;
  padding: 12px 0 12px 12px;
  font-size: 1rem;
  line-height: 38px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}

.space-setting:hover {
  background-color: #58b5fc;
}

.navbar-li-box img {
  vertical-align: middle;
}

.setting-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}


.folder-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.page-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.space-name {
  flex-grow: 1;
  padding-left: 10px;
  max-height: 3em;
  align-self: center;
  line-height: normal;
  overflow-x: hidden;
}

.folder-name {
  flex-grow: 1;
  padding-left: 10px;
  max-height: 3em;
  align-self: center;
  line-height: normal;
  overflow-x: hidden;
}

.page-name {
  flex-grow: 1;
  padding-left: 10px;
  max-height: 3em;
  align-self: center;
  line-height: normal;
  overflow-x: hidden;
}